doctype html
html
  head
    title #{pageTitle}
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/css/style.css")
  body
    .container
      .header
        h1 #{pageTitle}
        a(href="/update-cobj", class="button") Add New Plants Record
      .table-wrapper
        table
          thead
            tr
              th Name
              th Species
              th Description
          tbody
            each item in plants
              tr
                td= item.properties.name
                td= item.properties.species
                td= item.properties.description
      a(href="/", class="button return") Return to homepage
