doctype html
html
  head
    title #{pageTitle}
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/css/style.css")
  body
    .container
      h1 #{pageTitle}
      a(href="/update-cobj") Add New Plants Record
      table
        thead
          tr
            th Name
            th Species
            th Description
        tbody
          each item in plants
            tr
              td= item.properties.name
              td= item.properties.species
              td= item.properties.description
      a(href="/") Return to homepage
